@model Shopeee.Models.Item
@using Shopeee.Class;
@inject UserManager<Shopeee.Areas.Identity.ApplicationUser> userManager;

@{
    ViewData["Title"] = "Details";
    var currentUser = await userManager.GetUserAsync(User);
    var adminuser = await userManager.IsInRoleAsync(currentUser, "Administrator");
}

<head>
    <link rel="stylesheet" href="~/css/ItemDetailsStyleSheet.css" />
</head>



<div class="container">

    <div class="left">
        <img src="@Url.Content(GlobalVariables.webImagesPath)@Html.DisplayFor(modelItem =>Model.Picture)" style="width:100%" />
    </div>


    <div class="right">
        <p><h1>@Html.DisplayFor(modelItem => Model.Name)</h1></p>
        <p class="price">$@Html.DisplayFor(modelItem => Model.Price)</p>
        <table>
            <tr>
                <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Brand)</div></td>
                <td>@Html.DisplayFor(modelItem => Model.Brand.Name)</td>
            </tr>
            <tr>
                <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Color)</div></td>
                <td>@Html.DisplayFor(modelItem => Model.Color)</td>
            </tr>
            <tr>
                <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Gender)</div></td>
                <td>@Html.DisplayFor(modelItem => Model.Gender)</td>
            </tr>
            <tr>
                <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Description)</div></td>
                <td>@Html.DisplayFor(modelItem => Model.Description)</td>
            </tr>
        </table>
    </div>

</div>


        
<div>
    @if (adminuser)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>

    }
    <a asp-action="Index">Back to List</a>
</div>
