@model Shopeee.Models.Item
@using Shopeee.Class;
@inject UserManager<Shopeee.Areas.Identity.ApplicationUser> userManager;

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/ItemDetailsStyleSheet.css" />
</head>


<form asp-action="Edit" enctype="multipart/form-data">
    <div class="container">

        <div class="left">
            <img src="@Url.Content(GlobalVariables.webImagesPath)@Html.DisplayFor(modelItem =>Model.Picture)" style="width:100%" />
        </div>

        <div class="right">
            <p><h1>@Html.DisplayFor(modelItem => Model.Name)</h1></p>

            <table>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Name)</div></td>
                    <td>
                        <input asp-for="Name" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Brand)</div></td>
                    <td>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Color)</div></td>
                    <td>
                        <select asp-for="Color" asp-items="Html.GetEnumSelectList<ColorType>()" class="form-control"></select>
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Gender)</div></td>
                    <td>
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()" class="form-control"></select>
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Description)</div></td>
                    <td>
                        <input asp-for="Description" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Quantity)</div></td>
                    <td>
                        <input asp-for="Quantity" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Price)</div></td>
                    <td>
                        <input asp-for="Price" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td class="td_space"><div class="title">@Html.DisplayNameFor(modelItem => Model.Picture)</div></td>
                    <td>
                        <input asp-for="TempPicture" class="form-control" type="file" name="postedFiles" accept=".jpg, .jpeg, .webp, .bmp, .png" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index">Back to List</a>
    </div>
</form>