@model IEnumerable<Shopeee.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/ItemsStyleSheet.css" />
</head>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <input id="livesearchtextbox" name="livesearchtextbox" placeholder="Search" autocomplete="off" />
</p>
<p>
    <div class="form-group">
        <label class="control-label">Type</label>
        <select asp-items="Html.GetEnumSelectList<ItemType>()" class="form-control" id="typeselect">
            <option value="" selected="selected"></option>
        </select>
        @*@Html.DropDownList( "DropDownValue", Html.GetEnumSelectList<ItemType>(), "No Filter" )*@
    </div>

    <div class="form-group">
        <label class="control-label">Color</label>
        <select asp-items="Html.GetEnumSelectList<ColorType>()" class="form-control" id="colorselect">
            <option value="" selected="selected"></option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Gender</label>
        <select asp-items="Html.GetEnumSelectList<GenderType>()" class="form-control" id="genderselect">
            <option value="" selected="selected"></option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Brand</label>
        <select asp-items="ViewBag.BrandId" class="form-control" id="brandselect">
            <option value="" selected="selected"></option>
        </select>
    </div>
</p>

<div id="con">
    @Html.Partial("_PartialItemsView", Model);
</div>
<script>
    presearch = null
    document.getElementById('livesearchtextbox').addEventListener('keyup', function (e) {
        //Run LiveSearch on ever key up
        let value = document.getElementById('livesearchtextbox').value
        if (value != presearch) {
            LiveSearch(value)
            presearch = value
        }
    });

    var elements = document.getElementsByClassName('form-control')
    Array.from(elements).forEach(function (element) {
        element.addEventListener('change', function (e) {
            let value = document.getElementById('livesearchtextbox').value
            LiveSearch(value)
        });
    });

    function LiveSearch(value) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("LiveSearch", "Items")",
            data: {
                search: value,
                type: $("#typeselect :selected").text(),
                color: $("#colorselect :selected").text(),
                gender: $("#genderselect :selected").text(),
                brand: $("#brandselect :selected").text()
            },
            datatype: "html",
            success: function (data) {
                // Insert the returned search results html into the result element
                $('#con').empty();
                $('#con').html(data);
            }
        });
    }
</script>
@*@<div class="grid-container">
    @foreach (var item in Model)
    {
    <div class="card">
        <a asp-action="Details" asp-route-id="@item.Id">
            <img src="@Url.Content(Shopeee.Class.GlobalVariables.webImagesPath)@Html.DisplayFor(modelItem =>item.Picture)" style="width:100%">
        </a>
        <a asp-action="Details" asp-route-id="@item.Id">
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
        </a>
        <p class="price">$@Html.DisplayFor(modelItem => item.Price)</p>
        @*<p>@Html.DisplayFor(modelItem => item.Description)</p>
        <p><button>Buy Now</button></p>
    </div>
    }
</div>*@

    @*@{ var count = Model.Count();
        var col = 4;
        var row = count / col;
        for (var i = 0; i <= row; i++)
        {
        <tr>
            @for (var j = 0; j < col&&j+i<count; j++)
            {
            <td>
                <div class="card">
                    <img src="~/imgs/@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Picture)" style="width:100%">
                    <h1>@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Name)</h1>
                    <p class="price">$@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Price)</p>
                    <p>@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Description)</p>
                    <p><button>Buy Now</button></p>
                </div>
            </td>
            }
        </tr>
            }
        }*@

    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                        <img src="~/imgs/1618289204efe26a30b7dbd26fed575f8a6df91dfa_thumbnail_900x.jpg" width="30%" height="5%" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@
