@model IEnumerable<Shopeee.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/ItemsStyleSheet.css" />
</head>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    @*@{ var count = Model.Count();
        var col = 4;
        var row = count / col;
        for (var i = 0; i <= row; i++)
        {
        <tr>
            @for (var j = 0; j < col&&j+i<count; j++)
            {
            <td>
                <div class="card">
                    <img src="~/imgs/@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Picture)" style="width:100%">
                    <h1>@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Name)</h1>
                    <p class="price">$@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Price)</p>
                    <p>@Html.DisplayFor(modelItem => Model.ElementAt(j + i).Description)</p>
                    <p><button>Buy Now</button></p>
                </div>
            </td>
            }
        </tr>
            }
        }*@
<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <img src="~/imgs/@Html.DisplayFor(modelItem =>item.Picture)" style="width:100%">
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
            <p class="price">$@Html.DisplayFor(modelItem => item.Price)</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p><button>Buy Now</button></p>
        </div>
    }
</div>

    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                        <img src="~/imgs/1618289204efe26a30b7dbd26fed575f8a6df91dfa_thumbnail_900x.jpg" width="30%" height="5%" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>*@
