@model IEnumerable<Shopeee.Models.ShoppingCart>

@{
    ViewData["Title"] = "Shopping Cart";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <link rel="stylesheet" href="~/css/shoppingcart.css" />
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>@Model.ToList()</strong>) items</span>
                        <h5> Items in your cart</h5>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>

                                        <tr>
                                            <td width="150">
                                                <div class="cart-product-imitation">
                                                    <img src="@item.Item.Picture" class="img-fluid" alt="">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Item.Id" class="text-navy">
                                                        @item.Item.Brand @item.Item.Type
                                                    </a>
                                                </h3>
                                                <p class="small">
                                                    @item.Item.Description
                                                </p>

                                                <div class="m-t-sm">
                                                    <a asp-action="Delete" asp-route-id="@item.Item.Id" class="text-muted"><i class="fa fa-trash"></i> Subtract 1 Quantity </a>
                                                    <a asp-action="DeleteAll" asp-route-id="@item.Item.Id" class="text-muted"><i class="fa fa-trash"></i> Remove all quantites </a>
                                                </div>
                                            </td>

                                            <td>
                                                ₪@item.Item.Price
                                                <s class="small text-muted">₪@Convert.ToInt32(item.Item.Price * 1.15)</s>
                                            </td>
                                            <td width="65">
                                                @item.Quantity
                                            </td>
                                            <td>
                                                <h4>
                                                    ₪@(@item.Item.Price * @item.Quantity)
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>}
                    
                </div> 
            </div>
        </div>
    </div> 
</div>
    @*<div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.User)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.User.Email)
                                    </dd>
                                <dt class="col-sm-10">
                                    @Html.DisplayNameFor(model => model.Item)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Item.Name)
                                </dd>
                                <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Item.Id)
                                    </dd>
                                <dt class="col-sm-10">
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Quantity)
                                </dd>
                                <dd class="col-sm-10">
                                    <img src="~/imgs/@Html.DisplayFor(modelItem => Model.Item.Picture)" style="width:20%">
                                </dd>
                            </dl>
                        </div> *@

                    <div>
                        @*<a asp-action="Edit" asp-route-id="@Model.CartID">Edit</a>*@
                        @*<a href="https://localhost:44319/">Continue Shopping</a>*@
                        <a data-bind="
                                        localeText: {
                                            key: 'lang_bag_empty_continue_shopping'
                                        },
                                        attr: {
                                            href: continueShoppingLink
                                        }
                                    " href="https://localhost:44319/">Continue Shopping</a>
                    </div>
