@model Shopeee.Controllers.ShoppingCartsController.ViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

@{
    var totalPrice = 0.0;
    var count_qty = 0;
}

<head>
    <link rel="stylesheet" href="~/css/shoppingcart.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="~/js/APIfunctions.js"></script>
</head>

<body>
    <select id="toCurrencySelect" name='currencies' onchange="ChangeRate()">
        <option value='USD' title='US Dollar'>US Dollar</option>
        <option value='ILS' title='Israeli Shekel'>Israeli Shekel</option>
        <option value='GBP' title='British Pound'>British Pound</option>
        <option value='EUR' title='Euro'>Euro</option>
        [...]
    </select>
    <div class="bag-details">
        @if (Model.Bag.Count() == 0)
        {
            <h2> Your Bag is empty </h2>
            <a class="btn btn-dark" asp-controller="Items"><i class="fa fa-arrow-left"></i> Continue Shopping</a>
        }
        else
        {
            @foreach (var item in Model.Bag)
            {
                totalPrice += (item.Item.Price * item.Quantity);
                count_qty += 1;
            }
            <div class="container">
                <div class="row sticky">
                    <div class="col sticky">
                        <div class="hdr">
                            <h4>my bag</h4>
                            <p>@count_qty Items in your cart</p>
                        </div>
                        @foreach (var item in Model.Bag)
                        {
                            <div class="cart-item">

                                <img src="~/imgs/@item.Item.Picture" />

                                <div class="item-des">
                                    <p>@(@item.Item.Price.ToString("0.00"))</p>
                                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Item.Id">@item.Item.Description</a>
                                    <div class="item-det">
                                        <p>@item.Item.Color | </p>
                                        <p>@item.Item.Gender | </p>
                                        <p>Qty @item.Quantity</p>
                                    </div>
                                </div>

                                <div class="del-btn">
                                    <form asp-action="Delete" asp-route-id="@item.CartID" method="post">
                                        <button type="submit">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col">
                        <div class="sticky">
                            <div class="total-price">
                                <h4>total price</h4>
                                <p>@totalPrice.ToString("0.00")</p>
                                <span class="small">
                                    *For United States, applicable sales tax will be applied
                                </span>
                                <a class="btn btn-success" asp-action="CheckOut"><i class="fa fa-arrow-left"></i> Check Out</a>
                                <a class="btn btn-dark" asp-controller="Items"><i class="fa fa-arrow-left"></i> Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="post-facebook">
        <h2>Write to us on facebook!</h2>
        <input id="facebookMessageInput" name="facebookMessage" />
        <button onclick="postToFacebook()" type="submit" value="Create">Share</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#toCurrencySelect').val('@Model.newRate')
        });
    </script>
</body>
