@model IEnumerable<Shopeee.Models.Brand>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/brands.css" />
</head>
<h1>Our Brands</h1>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <div class="brands-container">
        @foreach (var item in Model)
        {
            <div class="brand-brand-item">
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                <img src="@Url.Content(Shopeee.Class.GlobalVariables.webImagesPath)@Html.DisplayFor(modelItem =>item.Logo)" />
                <div class="brand-actions">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</body>
