@model Shopeee.Models.Branch

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/ItemDetailsStyleSheet.css" />
</head>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    <div class="container">
        <div class="left">
            @{
                var googleApiKey = "AIzaSyByIhhF4FzYO5yVwEJxAEfeEnWNd_EQ1FA";
                var googleMapSrc = "https://www.google.com/maps/embed/v1/place?key=" + googleApiKey + "&q=place_id:" + Model.Location;
                <iframe width="450"
                        height="300"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        src=@googleMapSrc>
                </iframe>
            }
        </div>

        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WorkHours)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WorkHours)
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
