@model Shopeee.Models.Branch

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/ItemDetailsStyleSheet.css" />
<link rel="stylesheet" href="~/css/center-page.css" />



<form asp-action="Edit">
    <div>
        <h1>Edit Branch</h1>
        <hr />
        <div class="container">
            <div class="left">
                @{
                    var googleApiKey = "AIzaSyByIhhF4FzYO5yVwEJxAEfeEnWNd_EQ1FA";
                    var googleMapSrc = "https://www.google.com/maps/embed/v1/place?key=" + googleApiKey + "&q=place_id:" + Model.Location;
                    <iframe width="450"
                            height="300"
                            style="border:0"
                            loading="lazy"
                            allowfullscreen
                            src=@googleMapSrc>
                    </iframe>
                }
            </div>
            <div class="right">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="Name" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="City" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Area)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="Area" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="Location" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    <input asp-for="Address" class="form-control" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WorkHours)
                </dt>
                <dt class="col-sm-10">
                    <input asp-for="OpenHours" class="form-control" />
                    <input asp-for="CloseHours" class="form-control" />
                </dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        | <a asp-action="Index">Back to List</a>
    </div>
</form>