@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles Management";
}

<a asp-action="Index">Back</a>
<a asp-action="CreateRole">Create a Role</a>
<h1>List of Roles</h1>
<table class="table table-sm table-bordered table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Users</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td>
                <form asp-action="UpdateRole" asp-route-id="@role.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Update
                    </button>
                </form>
            </td>
            <td>
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>