@model Shopeee.Controllers.HomeController.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    @*<script src="~/js/APIfunctions.js"></script>*@
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="https://use.fontawesome.com/6e16709d88.js"></script>
</head>
<body class="home-body">

    <section id="banner-section">
        <div class="banner-text">
            <h1>#dress_your_day</h1>
            <p>Click here to find out your dress</p>
            <a asp-controller="Items" asp-action="Index">
                <button>shop new</button>
            </a>
        </div>
        <div class="banner-img">
            <img src="~/imgs/favpng_fashion-model-bijin.png" />
        </div>
    </section>

    <section class="section" id="our-brands-section">
        <h2>#our_brands</h2>
        <div class="brand-container">
            @foreach (Brand brand in Model.ourBrands)
            {
                <div class="brand-item">
                    <p>@brand.Name</p>
                    <img src="@Url.Content(Shopeee.Class.GlobalVariables.webImagesPath)@brand.Logo" />
                </div>
            }
            @*@for (int i = 0; i < 4; i++)
                {
                    <div class="brand-item">
                        <p>@Model.ourBrands[i].Name</p>
                        <img src="@Url.Content(Shopeee.Class.GlobalVariables.webImagesPath)@Model.ourBrands[i].Logo" />
                        }
                    </div>*@
    </section>

    <section class="section" id="our-team-section">
        <h2>#our_team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Stav Gabay</h4>
                <p>College of management</p>
            </div>
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Idan Bar Shlomo</h4>
                <p>College of management</p>
            </div>
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Almog Frozenfar</h4>
                <p>College of management</p>
            </div>
            <div class="team-member">
                <img src="~/imgs/team-member.png" />
                <h4>Noam Dadush</h4>
                <p>College of management</p>
            </div>
        </div>
    </section>
    <section class="section" id="contact-section">
        <h2>#contact_us</h2>
        <ul>
            <li>
                <p>Street Jump 21 TLV, Israel</p>
            </li>
            <li>
                <i></i>
                <p>(+972) 3-123-456</p>
            </li>
            <li>
                <i></i>
                <p>Support@Shopeee.colman</p>
            </li>
        </ul>
    </section>
    @*<div>
            @for(int i=0; i<4; i++)
            {
                <p>@Model.ourBrands[i].Name</p>
            }
        </div>*@
</body>
